<% if object.errors.any? %>
  <div class="alert alert-danger">
    <span>Ops... encontramos alguns erros:</span>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
