<% provide(:current_page, 'Cadastrar Permissão') %>

<div class="row">
  <div class="col-xs-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Formulario de Cadastro</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->

      <%= form_for @permission, html: { role: 'form'} do |f| %>
        <div class="box-body">

          <%= render 'fields', f: f, permission: @permission %>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.box -->

  </div>
</div>
