<h1>Editando Cadastro Equipe Rpa</h1>

<%= render 'form', cadastro_equipe_rpa: @cadastro_equipe_rpa %>

<%= link_to 'Mostrar', @cadastro_equipe_rpa %> |
<%= link_to 'Voltar', cadastro_equipe_rpas_path %>
