<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Versão</b> 1.0.0
  </div>
  <strong>Copyright &copy; 2016 <a href=http://www.pm.pb.gov.br target="_blank">Polícia Militar da Paraíba</a>.</strong> Todos os direitos reservados.
</footer>
