<p>Ola <%= @resource.first_name %>!</p>

<p>Para resetar a sua senha click no link abaixo.</p>

<p><%= link_to 'RESETAR SENHA', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se voce nao solicitou o reset de sua senha, por favor, desconsidere esse email.</p>
<p>
  Sua senha nao sera modificada ata voce acessar o link acima e cadastrar um nova senha.
</p>
