<p>Ola <%= @resource.first_name %>!</p>

<p>
  Sua conta foi bloqueada depois de varias tentativas de login sem sucesso.
</p>

<p>Click no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'DESBLOQUEAR MINHA CONTA', unlock_url(@resource, unlock_token: @token) %></p>
